{#ESTO ES UN COMENTARIO#}
{#Plantilla de nuestra app#}

{% extends 'base.html.twig' %}

{# TITULO #}
{% block titulo%}Pagina principal{% endblock %}

{#CONTENIDO#}
{% block contenido %}

<header>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <!-- Slide One - Set the background image for this slide in the line below -->
        <div class="carousel-item active" style="background-image: url({{ asset('img/Home1.jpg') }})">
          <div class="carousel-caption d-none d-md-block">
            <h3>Desarrollador</h3>
            <p>Christian Camilo Riaño Vega</p>
          </div>
        </div>
        <!-- Slide Two - Set the background image for this slide in the line below -->
        <div class="carousel-item" style="background-image: url({{ asset('img/Home2.jpg') }})">
          <div class="carousel-caption d-none d-md-block">
            <h3>Título</h3>
            <p>Ingeniero de sistemas y computación </p>
          </div>
        </div>
        <!-- Slide Three - Set the background image for this slide in the line below -->
        <div class="carousel-item" style="background-image: url({{ asset('img/Home3.jpg') }})">
          <div class="carousel-caption d-none d-md-block">
            <h3>Propósito</h3>
            <p>Ingresar a la empresa OTTIS</p>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </header>
  <div class="container">
    <h2 class="my-4">Nuestros mejores proyectos</h2>
    <div class="row">
      {% for proyecto in proyectos %}
      <div class="col-lg-4 col-sm-6 portfolio-item">
         <div class="card h-100">
            <a href="{{path('proyecto',{'id':proyecto.id})}}"><img class="card-img-top" src="{{asset(proyectoImg~proyecto.imagen)}}" alt=""></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="{{path('proyecto',{'id':proyecto.id})}}">{{proyecto.nombre}}</a>
              </h4>
              <p class="card-text">{{proyecto.descripcion}}</p>
            </div>
          </div>
       </div>
      {% endfor %}
    </div>
  </div> 
</div>
{% endblock %}
