<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>{% block titulo %}Bienvenido!{% endblock %}</title>
  {# Booostrap core  Css#}
  <link href="{{ asset('vendor/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">
  {# Estilos personalizados para esta plantilla#}
  <link href="{{ asset('css/modern-business.css')}}" rel="stylesheet">
  {% block stylesheets %}{% endblock %}
  <link rel="icon" type="image/x-icon" href="{{asset('favicon.ico')}}">
</head>

<body>
  <!-- Navegacion-->
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="{{path('home')}}">Gestor de proyectos - OTTIS</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
        data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="{{path('proyectos')}}" id="navbarDropdownPortfolio" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              Proyectos
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownPortfolio">
              <a class="dropdown-item" href="{{path('nuevoProyecto')}}">Crear proyecto</a>
              <a class="dropdown-item" href="{{path('proyectos')}}">Ver proyectos</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="{{path('usuarios')}}" id="navbarDropdownPortfolio" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              Usuarios
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownPortfolio">
              <a class="dropdown-item" href="{{path('nuevoUsuario')}}">Crear usuario</a>
              <a class="dropdown-item" href="{{path('usuarios')}}">Ver usuarios</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="{{path('actividades')}}" id="navbarDropdownPortfolio" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              Actividades
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownPortfolio">
              <a class="dropdown-item" href="{{path('actividades', {'actividad': 'inactivas'})}}">Inactivas</a>
              <a class="dropdown-item" href="{{path('actividades', {'actividad': 'ejecutadas'})}}">En ejecución</a>
              <a class="dropdown-item" href="{{path('actividades', {'actividad': 'finalizadas'})}}">Finalizadas</a>
            </div>
          </li>    
        </ul>
      </div>
    </div>
  </nav>
  {% block contenido %}{% endblock %}
  <script src="{{asset('vendor/jquery/jquery.min.js')}}"></script>
  <script src="{{asset('vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
  {% block javascripts %}{% endblock %}
</body>
<!-- Footer -->
<footer class="py-5 bg-dark">
  <div class="container">
    <p class="m-0 text-center text-white">Copyright &copy; Christian Riaño</p>
  </div>
  <!-- /.container -->
</footer>

</html>